In [1]:
import numpy as np
import pandas as pd

In [2]:
train_data = pd.read_csv("data/train.csv", index_col="id")
test_data = pd.read_csv("data/test.csv", index_col="id")
print(f"Shape of train data: {train_data.shape}. Shape of test data: {test_data.shape}")

Shape of train data: (600000, 24). Shape of test data: (400000, 23)

### Разделяем признаки по типу

In [3]:
# Бинарные
bin_features = ['bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4']
# Категориальные
nom_features = ['nom_0', 'nom_1', 'nom_2', 'nom_3', 'nom_4']
# Хеш
hex_features = ['nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9']
# Порядковые
ord_features = ['ord_0', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5']
# Цикличные
cyc_features = ['day', 'month']

### Удаляем лишние столбцы

### Удаляем выбросы

### Заполняем пропущенные значения

In [4]:
train_data.head()

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,Bassoon,...,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,Theremin,...,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,Bassoon,...,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0
3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,Theremin,...,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0
4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,NaN,...,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0

**Бинарные признаки**

In [5]:
# # dictionary to map the feature
# bin_dict = {'T':1, 'F':0, 'Y':1, 'N':0}

# # Maping the category values in our dict
# train_data['bin_3'] = train_data['bin_3'].map(bin_dict)
# train_data['bin_4'] = train_data['bin_4'].map(bin_dict)
# test_data['bin_3'] = test_data['bin_3'].map(bin_dict)
# test_data['bin_4'] = test_data['bin_4'].map(bin_dict)

In [6]:
# train_data[bin_features] = train_data[bin_features].fillna(0)
# test_data[bin_features] = test_data[bin_features].fillna(0)

**Номинальные признаки**

In [7]:
# train_data[nom_features] = train_data[nom_features].fillna("NAN")
# test_data[nom_features] = test_data[nom_features].fillna("NAN")

# train_data[hex_features] = train_data[hex_features].fillna("NAN")
# test_data[hex_features] = test_data[hex_features].fillna("NAN")

**Порядковые признаки**

In [8]:
# train_data[ord_features]

        ord_0        ord_1        ord_2 ord_3 ord_4 ord_5
id
0         3.0  Contributor          Hot     c     U    Pw
1         3.0  Grandmaster         Warm     e     X    pE
2         3.0          NaN     Freezing     n     P    eN
3         1.0       Novice     Lava Hot     a     C   NaN
4         3.0  Grandmaster         Cold     h     C    OZ
5         2.0       Expert          Hot     b     Q    wa
6         1.0  Grandmaster         Cold     c     R    rg
7         3.0       Expert         Cold     b     Y    PS
8         1.0       Novice  Boiling Hot     c     N    mX
9         3.0  Contributor     Lava Hot     n     I    OZ
10        1.0       Novice          Hot     b     O    hG
11        1.0  Contributor          Hot     b     M    xF
12        3.0       Novice     Freezing     a     Y    RV
13        3.0  Contributor     Lava Hot     h     C    Nh
14        2.0       Master     Freezing     d     Y    dp
15        2.0  Contributor          Hot     k     P    SS
16        1.0       Novice  Boiling Hot     h     E   NaN
17        3.0       Novice         Warm     g     I    OM
18        3.0       Master          Hot     h     V    Rv
19        1.0  Grandmaster  Boiling Hot     n     K    HF
20        3.0       Novice     Freezing     h     E    RV
21        3.0  Contributor          Hot     h     N    iS
22        2.0       Master          Hot     k     G    HK
23        1.0       Novice         Warm     n     K    hG
24        1.0  Grandmaster  Boiling Hot     b     B    Ib
25        1.0       Expert         Warm     c     H    AW
26        3.0  Grandmaster     Freezing     o     O    mi
27        1.0       Novice         Cold     a     I    jf
28        1.0       Novice         Warm     a   NaN    Tz
29        1.0       Expert         Cold     a     U    ok
...       ...          ...          ...   ...   ...   ...
599970    2.0  Contributor     Freezing     a     O    kv
599971    2.0  Contributor     Freezing     a     N    oU
599972    3.0  Grandmaster     Freezing     d     U    IA
599973    3.0  Contributor         Cold     h     N    Bx
599974    1.0       Master  Boiling Hot     d     W    dh
599975    2.0       Expert     Freezing     n     E    rl
599976    3.0  Grandmaster     Lava Hot     h     O    Rv
599977    3.0       Novice          Hot     n     K    Ji
599978    3.0  Contributor     Freezing     f     T    Re
599979    2.0       Expert  Boiling Hot     d     D    HK
599980    1.0       Master          Hot     o     T    rA
599981    3.0  Contributor     Lava Hot     c     T    cR
599982    2.0  Contributor         Warm     n     K    Rv
599983    3.0       Expert         Cold     c     M    oh
599984    3.0       Novice     Freezing     c     X    Rz
599985    3.0       Novice         Warm     h     M    xG
599986    2.0       Expert     Freezing     k     G    Kq
599987    2.0       Novice         Warm     d     C    WW
599988    2.0       Master     Lava Hot     k     P   NaN
599989    3.0       Master  Boiling Hot     k     W    eN
599990    1.0       Novice     Freezing     i     E    DI
599991    3.0  Contributor         Warm     f     T    dp
599992    2.0       Novice     Freezing     d     K    xF
599993    3.0  Contributor     Freezing     n     T    iv
599994    3.0  Grandmaster         Cold     f     F    dp
599995    3.0       Novice     Freezing     a     R    GZ
599996    2.0       Novice  Boiling Hot     n     N    sf
599997    2.0  Contributor     Freezing     n     H    MV
599998    1.0       Master         Warm     m     X    Ey
599999    1.0  Contributor  Boiling Hot     b     O    uI

[600000 rows x 6 columns]

In [9]:
train_data[ord_features].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 600000 entries, 0 to 599999
Data columns (total 6 columns):
ord_0    581712 non-null float64
ord_1    581959 non-null object
ord_2    581925 non-null object
ord_3    582084 non-null object
ord_4    582070 non-null object
ord_5    582287 non-null object
dtypes: float64(1), object(5)
memory usage: 32.0+ MB

In [10]:
# Самое частое значение в столбце
vc = train_data['ord_2'].value_counts()
vcc = vc.loc[vc ==vc.sort_values().iloc[-1]].index[0]

In [11]:
for col in ord_features:
    vc = train_data[col].value_counts()
    most_common_value = vc.loc[vc ==vc.sort_values().iloc[-1]].index[0]
    train_data[[col]] = train_data[[col]].fillna(most_common_value)
    test_data[[col]] = test_data[[col]].fillna(most_common_value)

**Оставшиеся признаки**

In [12]:
train_data[cyc_features].head()

    day  month
id
0   6.0    3.0
1   7.0    7.0
2   5.0    9.0
3   3.0    3.0
4   5.0   12.0

In [13]:
for col in cyc_features:
    vc = train_data[col].value_counts()
    most_common_value = vc.loc[vc ==vc.sort_values().iloc[-1]].index[0]
    train_data[[col]] = train_data[[col]].fillna(most_common_value)
    test_data[[col]] = test_data[[col]].fillna(most_common_value)

In [14]:
# train_data = train_data.fillna("NAN")
# test_data = test_data.fillna("NAN")

# imp_cat = SimpleImputer(strategy='most_frequent')
# train_data = imp_cat.fit_transform(train_data)
# test_data = imp_cat.fit_transform(test_data)

In [15]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 600000 entries, 0 to 599999
Data columns (total 24 columns):
bin_0     582106 non-null float64
bin_1     581997 non-null float64
bin_2     582070 non-null float64
bin_3     581986 non-null object
bin_4     581953 non-null object
nom_0     581748 non-null object
nom_1     581844 non-null object
nom_2     581965 non-null object
nom_3     581879 non-null object
nom_4     581965 non-null object
nom_5     582222 non-null object
nom_6     581869 non-null object
nom_7     581997 non-null object
nom_8     582245 non-null object
nom_9     581927 non-null object
ord_0     600000 non-null float64
ord_1     600000 non-null object
ord_2     600000 non-null object
ord_3     600000 non-null object
ord_4     600000 non-null object
ord_5     600000 non-null object
day       600000 non-null float64
month     600000 non-null float64
target    600000 non-null int64
dtypes: float64(6), int64(1), object(17)
memory usage: 114.4+ MB

In [16]:
train_data.head()

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,Bassoon,...,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,Theremin,...,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,Bassoon,...,NaN,3.0,Novice,Freezing,n,P,eN,5.0,9.0,0
3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,Theremin,...,f9d456e57,1.0,Novice,Lava Hot,a,C,Fl,3.0,3.0,0
4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,NaN,...,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0

### Создаем новые характеристики (Feature engineering)

### Сохраняем очищенные данные в файл

In [17]:
train_data.to_csv('data/cleaned_train_data.csv', header=True)
test_data.to_csv('data/cleaned_test_data.csv', header=True)